/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require jquery-ui
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

body { padding-top: 55px; }

.padded-row { margin-left: 0px; margin-right: 0px;}

.jumbotron-small { padding-top: 15px; padding-bottom: 1px;}

img {width: 80%; margin-bottom: 1rem;}

.smallTableFont { font-size: .7rem; }

.fullTextArea textarea { width: 100%; height: 200px; }

.fullTextArea input { width: 100%; }

.stateForm * { margin: 12px !important; }

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.glowing-border img {
    border: 5px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.side-arrows {
	width: 9%;
}

#carouselExampleControls {
	width: 80%;
	vertical-align: middle;
}

#carouselExampleControls img {
	width: 100%;
}

.thirds { width: 32%; display: inline-block; vertical-align: top; }
.thirds-top { text-align:center }
.ocr-fix { margin: 25px; width: 90%; }

.espyTable input:not([type=checkbox]){ width: 100%; }
.espyTable input[type=checkbox]{ vertical-align: middle; }