/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require jquery-ui
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

body { padding-top: 55px; }

.padded-row { margin-left: 0px; margin-right: 0px;}

.jumbotron-small { padding-top: 15px; padding-bottom: 1px;}

img {width: 100%; margin-bottom: 1rem;}

.plainImg {width: 80%; margin-bottom: 1rem;}

.narrowCard .carousel {
  width: 80%; 
}

.smallTableFont { font-size: .7rem; }

.fullTextArea textarea { width: 100%; height: 200px; }

.fullTextArea input { width: 100%; }

.stateForm * { margin: 12px !important; }
.stateForm .btn i { margin: 0px !important; }


.title-card {
  margin-bottom: 30px;
}

.title-card h4 { margin-top: 0.5rem; }


.glowing-border {
    border: 5px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.modal-body .glowing-border {
    border: 0px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 00px #9ecaed;
}

.side-arrows {
	width: 9%;
  text-align: center;
}

.carousel {
	width: 95%;
	vertical-align: middle;
}

.carousel img {
	width: 100%;
}

.thirds { width: 32%; display: inline-block; vertical-align: top; }


.thirds-top { text-align:center; margin-bottom: 20px; }

.ocr-fix { margin-left: 25px; width: 90%; }

.espyTable input:not([type=checkbox]){ width: 100%; }
.espyTable input[type=checkbox]{ vertical-align: middle; }

.previewTable input { width: auto; display: inline; }

.has-danger .form-control-feedback {
  color: red;
}
.has-danger input {
  border-color: red;
}
.has-danger {
  margin-bottom: 0px;
}

.card-block {
  padding: 1.7rem;
}

.submit-btn { cursor: pointer; }

[data-toggle="collapse"] i.progressDrop:before{   
  content: "\f077";
}

[data-toggle="collapse"].collapsed i.progressDrop:before{
  content: "\f078";
}

.td-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
}

.loadingBG {
  background:url(/loading.gif) center center no-repeat;
}

.loadingBG iframe {
  border: 0;
  width: 100%;
  height: 500px;
}

.ocrCheck { text-align: left; margin-left: 25px; }

.form-check-label {
  display: block;
  width: 52px;
  font-size: 12px;
  padding: 0;
}

.circa {
  width: 10px;
}

.ocrFix textarea {
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.link-form { display: inline-block; }
.link-form > * { display: inline-block; width: 300px;}

.nameLabel {width: 10% !important; display: inline-block; vertical-align: middle}
.nameWidth {width: 38% !important; display: inline-block; vertical-align: middle}
.espyTable label {margin-bottom:0px;}

.previewTable input {width:100%;}

.icon-hover-success:hover {
  cursor: pointer;
  color: #218838 !important;
  text-decoration: none !important;
}
.icon-hover-warning:hover {
  cursor: pointer;
  color: #EC971F !important;
}
.closeBtn:hover {
  color: #c9302c !important;
}
.closeBtn {
  font-size: 25px;
}

.addFile {
  vertical-align: middle;
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
}
#previewWindow {width: 100%; margin-bottom: 0px;}

.modal-lg {max-width: 1200px;}

.errorHead { font-size:32px; }

#rotateWarning .alert { margin-top: 15px; width: 400px;}